
@{
    ViewData["Title"] = "Page3";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Page3</h1>

<p> 
    viewbag values: @ViewBag.vb
    </p>
<p>
    viewdata values : @ViewData["vd"]
</p>

<p>
    tempdata  values @ViewBag.res
</p>