@{
    ViewData["Title"] = "Page1";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Page1</h1>



<p> viewbag values: @ViewBag.vb</p>
<p>
    viewdata values : @ViewData["vd"]
</p>

<p>
    tempdata  values @TempData["td"]
</p>